{%extends "rest_app/base.html"%}
{%block content%}
	<h1>about SNEP</h1>
<p>Project optimisation can be defined as finding the solution, from the available alternative options, with the most cost effective or highest achievable performance under the given constraints, by maximising desired factors and minimising undesired ones.

This guideline on project optimisation techniques provides an overview of the most popular techniques that can be used during the different project stages to optimise aspects of a project. It does not go into extensive detail of each of these optimisation techniques.</p>
{%endblock content%}