{%extends "rest_app/base.html"%}
{%block content%}
<p>
PVC pressure pipe is used for the transport of liquids under pressure. The product range is divided into various pressure classes that indicate the maximum working pressure. The maximum permissible pressure in practice may be lower due i.a. to higher external loads, chemical and/or temperature influences, but also due to the possible occurrence of water hammer. The large number of pressure classes (up to 16 bar) makes it easy to select a stronger pipe if external factors have an influence on the pipe. PVC pressure pipes are available in diameters from 10 mm to 400 mm.
<h2 class="article-title">here is the composition needed for the pressure pipes :</h2>
<div class="article-metadata">
                <table class="table table-dark">
            <thead>
              <tr>
                <th scope="col">name</th>
                
                <th scope="col">quantity GPR</th>
			<th scope="col">PRICE</th>
 
              </tr>
            </thead>
            <tbody>
              <tr>
 
                <td>pvc_k</td>
                <td>{{ compound.pvc_k }}</td>
                <td>{{ price.pvc_k }}</td>


              </tr>
                            <tr>
 
                <td>PVC H2</td>
                <td>{{ compound.pvc_H2 }}</td>
                <td>{{ price.pvc_H2 }}</td>
                
              </tr>
                            <tr>
 
                <td>TIO2</td>
                <td>{{ compound.TIO2 }}</td>
                <td>{{ price.TIO2 }}</td>
                
              </tr>
                            <tr>
 
                <td>NOIR</td>
                <td>{{ compound.NOIR }}</td>
                <td>{{ price.NOIR }}</td>
                
              </tr>
			<tr>
 
                <td>BLEU</td>
                <td>{{ compound.BLEU }}</td>
                <td>{{ price.BLEU }}</td>
              </tr>

			<tr>
 
                <td>Lubrifiant</td>
                <td>{{ compound.Lubricant }}</td>
                <td>{{ price.Lubricant }}</td>
              </tr>


	<tr>
 
                <td>PRICE</td>
                <td>{{ compound.PRICE }}</td>
                <td>{{ price.PRICE }}</td>
	</tr>


            </tbody>
          </table>
      
    </div>
</p>
{%endblock content%}