{%extends "rest_app/base.html"%}
{%block content%}
	
	<p>
C’est dans cette optique que la Société Nationale d’electrolyse et de pytrochimie a décidé
de prendre en charge un projet d’analyse Data Mining et Big Data qui consiste à réaliser des
plateformes d’analyse Data Mining, intelligence artificielle et machine learning permettant de
traiter et analyser les données et les experiences deja effectués du compound afin d’établir des
statistiques descriptives et prédire une optimisation efficace en terme du temps en remplaçant
l’ancienne methode de trial-errors.</p>
	
{%endblock content%}