{% extends "rest_app/base.html" %}
{% block content %}
  <article class="media content-section">
    <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="#">{{ object.author }}</a>
        <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
        {% if object.author == user %}
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'compound-update' object.id %}">Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'compound-delete' object.id %}">Delete</a>
          </div>
        {% endif %}
      </div>
      <h2 class="article-title">{{ object.formula_name }}</h2>
      


                <table class="table table-dark">
            <thead>
              <tr>
                <th scope="col">name</th>
                <th scope="col">quantity GPR</th>
 
              </tr>
            </thead>
            <tbody>
              <tr>
 
                <td>extensibility</td>
                <td>{{ object.extensibility }}</td>
              </tr>
              <tr>
                <td>stability</td>
                <td>{{ object.stability }}</td>
              </tr>
              <tr>
                <td>ductibility</td>
                <td>{{ object.ductibility }}</td>
              </tr>
              <tr>
 
                <td>toughness</td>
                <td>{{ object.toughness }}</td>
              </tr>
              <tr>
 
                <td>pvc_k</td>
                <td>{{ object.pvc_k }}</td>
              </tr>

              <tr>
 
                <td>stabilizer_type</td>
                <td>{{ object.stabilizer_type }}</td>
              </tr>
                            <tr>
 
                <td>stabilizer</td>
                <td>{{ object.stabilizer }}</td>
              </tr>
                            <tr>
 
                <td>chalk</td>
                <td>{{ object.chalk }}</td>
              </tr>
                                          <tr>
 
                <td>impact_modifier</td>
                <td>{{ object.impact_modifier }}</td>
              </tr>
              
            </tbody>
          </table>
      
    </div>
  </article>
{% endblock content %}