{%extends "rest_app/base.html"%}
{%block content%}
	
	<p>Les bases de données sont aujourd’hui un élément omniprésent tant dans l’industrie que
dans les organismes publics. Grâce au développement exponentiel des outils informatiques de
stockage et aussi d’espace mémoire de plus en plus fiables, faciles à gérer et bon marché,
les bases de données deviennent chaque jour de plus en plus massives et complexes. 
</p>
<h1>existing formulas</h1>

{% for compound in compounds%}
<article class="media content-section">
	<div class="media-body">
		<div class="article-metadata">
			
		<a class="mr-2" href="#">{{compound.author }}</a>
		<small class="text-muted">{{compound.date_posted}}</small>
		<h2><a href="{% url 'compound-detail' compound.id %}">{{compound.formula_name}}</a> </h2>
		</div>
	</div>
	


</article>
{% endfor %}
	
{%endblock content%}