{%extends "rest_app/base.html"%}
{%block content%}
<p>
PVC pressure pipe is used for the transport of liquids under pressure. The product range is divided into various pressure classes that indicate the maximum working pressure. The maximum permissible pressure in practice may be lower due i.a. to higher external loads, chemical and/or temperature influences, but also due to the possible occurrence of water hammer. The large number of pressure classes (up to 16 bar) makes it easy to select a stronger pipe if external factors have an influence on the pipe. PVC pressure pipes are available in diameters from 10 mm to 400 mm.

PVC pipe systems offer great ease of application, a few benefits are: Light in weight, easy to process, wide variety of fittings and a long service life.
</p>
{%endblock content%}